# OSX dir files
.DS_Store
.idea

# test.py
test.py

# python c file
*.pyc

# add models folder not content
/dataset/**/*.*
/output/*.*
!/output/*.gitkeep
!/dataset/**/*.gitkeep
!/dataset/**/dblp_profile.json
!/dataset/**/ignore_nsf_grant_id.json

# test folder
/test/*.*

# large file
dataset/raw/nsf_info.csv
dataset/raw/nsf_investigators.csv